@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

    /* scrollbar-width: auto;
    scrollbar-color: #444 #121212; */
}

body {
    background-color: #121212;
    background-image:
        linear-gradient(135deg, rgba(18, 18, 18, 0.95) 0%, rgba(30, 30, 30, 0.90) 100%),
        url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23252525ff'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z' stroke-width='1' stroke='%23ffd700ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-repeat: repeat;
    color: #fff;
    min-height: 100vh;
}

::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {background: #121212;}
::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 6px;
    border: 3px solid #121212;
}
::-webkit-scrollbar-thumb:hover {background-color: #ffd700;}

.text-gold {color: #ffd700 !important;}