 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Obligatorio para centrar verticalmente */
    margin: 0;
    background-color: #121212;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.auth-box {
    background-color: #252525;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #3a3a3a;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6); 
    text-align: center;
}

.logo-small img {
    width: 120px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.logo-small img:hover {
    transform: scale(1.05);
}

.auth-box h2 {
    color: #ffd700;
    margin-bottom: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: 2px solid #ffd700;
    display: inline-block;
    padding-bottom: 5px;
    font-family: var(--font-ui), 'Oswald', sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}

.input-group input {
    background-color: #1a1a1a;
    border: 1px solid #444;
    color: #fff;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
    letter-spacing: 1px;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-game), sans-serif;
}

.input-group input:focus {
    border-color: #ffd700;
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.2);
}

.input-group input::placeholder { 
    color: #555; 
    font-weight: 300; 
}

/* El botón del ojito de la contraseña */
.btn-toggle-view:hover {
    color: #ffd700 !important;
    transform: translateY(-50%) scale(1.1) !important;
}

.btn-full {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 1.1rem;
}

.auth-switch { 
    margin-top: 25px; 
    font-size: 0.95rem; 
    color: #aaa; 
}

.auth-switch a { 
    color: #ffd700; 
    text-decoration: none; 
    font-weight: bold; 
    transition: 0.3s; 
}

.auth-switch a:hover { 
    text-decoration: underline; 
    color: #fff; 
}

@media (max-height: 750px) {
    .auth-box { padding: 25px 20px; }
    .auth-box h2 { font-size: 1.4rem; margin-bottom: 15px; }
    .input-group { margin-bottom: 12px; }
    .input-group input { padding: 10px 12px; }
    .btn-full { margin-top: 10px; padding: 10px; }
}